# Data matrix creation

## Read individual files

In [1]:
import os
import pandas as pd

from pathlib import Path


sourceDirName = Path(os.environ['DATA_DIR'], 'sepsis_prediction', 'blood_pos_cohort_20250416', '00_source_files')
cleanedDirName = Path(os.environ['DATA_DIR'], 'sepsis_prediction', 'blood_pos_cohort_20250416', '03_cleaned_data')

vitals_column_names = ["person_id", "visit_occurrence_id", 'measurement_date', "Peripheral oxygen saturation", "Respiratory rate", "Temperature", "Systolic blood pressure", "Diastolic blood pressure", "Mean blood pressure", "Heart rate"]
labs_column_names = ["person_id", "visit_occurrence_id", 'measurement_date', "White blood cell count", "Basophil count", "Bicarbonate", "Blood urea", "Chloride salt", "Creatinine", "Eosinophil count", "Haemoglobin estimation", "Hematocrit", "Lymphocyte", "MCHC - Mean corpuscular haemoglobin concentration", "MCH - Mean corpuscular haemoglobin", "MCV - Mean corpuscular volume", "Monocyte", "Neutrophil count", "Potassium", "Red blood cell count", "Red blood cell distribution width", "Sodium", "Platelet", "Alanine aminotransferase", "GGT (gamma-glutamyl transferase) level", "Albumin", "Bilirubin", "Total alkaline phosphatase level", "Total protein measurement", "Globulin", "Calcium", "Phosphate measurement", "Magnesium measurement"]
vitals_avg =  pd.read_csv(cleanedDirName.as_posix() + '''/vitals_avg_episode_date.cleaned.csv''')[vitals_column_names]
vitals_min =  pd.read_csv(cleanedDirName.as_posix() + '''/vitals_min_episode_date.cleaned.csv''')[vitals_column_names]
vitals_max =  pd.read_csv(cleanedDirName.as_posix() + '''/vitals_max_episode_date.cleaned.csv''')[vitals_column_names]
vitals_first =  pd.read_csv(cleanedDirName.as_posix() + '''/vitals_first_episode_date.cleaned.csv''')[vitals_column_names]
vitals_last =  pd.read_csv(cleanedDirName.as_posix() + '''/vitals_last_episode_date.cleaned.csv''')[vitals_column_names]
labs_avg =  pd.read_csv(cleanedDirName.as_posix() + '''/labs_avg_episode_date.cleaned.csv''')[labs_column_names]
labs_min =  pd.read_csv(cleanedDirName.as_posix() + '''/labs_min_episode_date.cleaned.csv''')[labs_column_names]
labs_max =  pd.read_csv(cleanedDirName.as_posix() + '''/labs_max_episode_date.cleaned.csv''')[labs_column_names]
labs_first =  pd.read_csv(cleanedDirName.as_posix() + '''/labs_first_episode_date.cleaned.csv''')[labs_column_names]
labs_last =  pd.read_csv(cleanedDirName.as_posix() + '''/labs_last_episode_date.cleaned.csv''')[labs_column_names]

admissions = pd.read_csv(sourceDirName.as_posix() + '''/2024-04-03-admissions.csv''')

In [2]:
import os
import pandas as pd

from pathlib import Path


sourceDirName = Path(os.environ['DATA_DIR'], 'sepsis_prediction', 'blood_pos_cohort_20250416', '00_source_files')

icds =  pd.read_csv(sourceDirName.as_posix() + '''/2023-03-20-blood-pos-ICDs.csv''')

/tmp/ipykernel_12239/1401789047.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  icds =  pd.read_csv(sourceDirName.as_posix() + '''/2023-03-20-blood-pos-ICDs.csv''')

In [3]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((147979, 10), (147979, 10), (147979, 10), (147979, 10), (147979, 10))

In [4]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((179439, 33), (179439, 33), (179439, 33), (179439, 33), (179439, 33))

In [5]:
admissions.shape

(216689, 15)

In [6]:
admissions["start_date"] = pd.to_datetime(admissions["start_date"]).dt.strftime('%Y-%m-%d')

In [7]:
admissions

,PATIENT_ID,EPISODE_ID,PARENT_EPISODE_ID,start_date,end_date,PRIMARY_VISIT_REASON,E_LOS,H_LOS,DATEOFDEATH_DATETIME,ADMIT_TYPE,ADMITTING_WARD,EPISODE_ORGANISM_IDENTIFIED,ORGANISM,Organism_FIRST_NOTED,Organism_LAST_NOTED
0,2141606,8800,8800,2013-08-31,2013-08-31 15:04:00.000,DIALYSIS,5.00,5.00,2020-07-10 14:00:00.000,Planned Admission,A-CGD - Alfred/Caulfield Haemodialysis,85662,Staphylococcus aureus (MRSA),2014-08-31 08:45:41.000,2014-09-12 20:20:38.000
1,2141606,8800,8800,2013-08-31,2013-08-31 15:04:00.000,DIALYSIS,5.00,5.00,2020-07-10 14:00:00.000,Planned Admission,A-CGD - Alfred/Caulfield Haemodialysis,9984732,Staphylococcus aureus (MRSA),2014-08-31 08:17:49.000,2014-08-31 08:17:49.000
2,2141606,9467,9467,2013-09-03,2013-09-03 17:36:00.000,DIALYSIS,4.00,4.00,2020-07-10 14:00:00.000,Planned Admission,A-CGD - Alfred/Caulfield Haemodialysis,85662,Staphylococcus aureus (MRSA),2014-08-31 08:45:41.000,2014-09-12 20:20:38.000
3,2141606,9467,9467,2013-09-03,2013-09-03 17:36:00.000,DIALYSIS,4.00,4.00,2020-07-10 14:00:00.000,Planned Admission,A-CGD - Alfred/Caulfield Haemodialysis,9984732,Staphylococcus aureus (MRSA),2014-08-31 08:17:49.000,2014-08-31 08:17:49.000
4,2141606,9871,9871,2013-09-05,2013-09-06 18:16:00.000,CONSTIPATION & BLOATING - PHX UMBILICAL HERNIA,31.00,31.00,2020-07-10 14:00:00.000,Admission from ED,A-CC - Emergency Dept Cubicles,85662,Staphylococcus aureus (MRSA),2014-08-31 08:45:41.000,2014-09-12 20:20:38.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216684,642636,18390389,18390389,2024-01-17,2024-01-24 23:59:59.000,NaN,NaN,NaN,NaN,NaN,NaN,18696838,Burkholderia cepacia complex,2024-02-28 15:30:06.000,2024-02-28 15:30:06.000
216685,642636,18406829,18406829,2024-02-27,2024-03-05 23:59:59.000,4 Month Review,NaN,NaN,NaN,NaN,NaN,18696838,Burkholderia cepacia complex,2024-02-28 15:30:06.000,2024-02-28 15:30:06.000
216686,642636,18690618,18690618,2024-02-27,2024-03-05 23:59:59.000,NaN,NaN,NaN,NaN,NaN,NaN,18696838,Burkholderia cepacia complex,2024-02-28 15:30:06.000,2024-02-28 15:30:06.000
216687,642636,18696838,18696838,2024-02-28,2024-02-28 15:08:00.000,Chest pain NEC,6.67,6.67,NaN,NaN,NaN,18696838,Burkholderia cepacia complex,2024-02-28 15:30:06.000,2024-02-28 15:30:06.000
216688,642636,18699844,18696838,2024-02-28,2024-03-05 14:30:00.000,Chest pain NEC,143.00,143.00,NaN,Admission from ED,A-ICU - Intensive Care Unit,18696838,Burkholderia cepacia complex,2024-02-28 15:30:06.000,2024-02-28 15:30:06.000

In [8]:
icds.shape

(456648, 7)

In [9]:
def formatVitalsData(vitalsDf):

    vitalsDf['measurement_date'] = pd.to_datetime(vitalsDf["measurement_date"]).dt.strftime('%Y-%m-%d')
    vitalsDf = vitalsDf[vitals_column_names]
    return vitalsDf

In [10]:
def formatLabsData(labsDf):

    labsDf['measurement_date'] = pd.to_datetime(labsDf["measurement_date"]).dt.strftime('%Y-%m-%d')
    labsDf = labsDf[labs_column_names]
    return labsDf

In [11]:
vitals_avg = formatVitalsData(vitals_avg)
vitals_min = formatVitalsData(vitals_min)
vitals_max = formatVitalsData(vitals_max)
vitals_first = formatVitalsData(vitals_first)
vitals_last = formatVitalsData(vitals_last)

In [12]:
labs_avg = formatLabsData(labs_avg)
labs_min = formatLabsData(labs_min)
labs_max = formatLabsData(labs_max)
labs_first = formatLabsData(labs_first)
labs_last = formatLabsData(labs_last)

In [13]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((147979, 10), (147979, 10), (147979, 10), (147979, 10), (147979, 10))

In [14]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((179439, 33), (179439, 33), (179439, 33), (179439, 33), (179439, 33))

In [15]:
vitals_avg

,person_id,visit_occurrence_id,measurement_date,Peripheral oxygen saturation,Respiratory rate,Temperature,Systolic blood pressure,Diastolic blood pressure,Mean blood pressure,Heart rate
0,2096825,42323,2014-02-14,97.943207,17.116405,36.522011,112.428448,65.072898,75.368105,78.270102
1,2141606,56954,2014-05-14,97.943207,17.116405,36.522011,112.428448,65.072898,75.368105,78.270102
2,1951251,60383,2014-05-14,97.943207,17.116405,36.522011,112.428448,65.072898,75.368105,78.270102
3,2083212,60747,2014-05-14,97.943207,17.116405,36.522011,112.428448,65.072898,75.368105,78.270102
4,2102702,73384,2014-07-17,97.943207,17.116405,36.522011,112.428448,65.072898,75.368105,78.270102
...,...,...,...,...,...,...,...,...,...,...
147974,2225152,18025236,2023-08-21,97.750000,17.750000,36.216667,141.111111,76.111111,87.000000,79.625000
147975,2225152,18025236,2023-08-22,97.200000,17.200000,36.060000,130.400000,73.800000,85.000000,82.000000
147976,2225152,18025236,2023-08-23,98.600000,17.200000,36.180000,129.400000,67.400000,85.000000,85.000000
147977,2225152,18025236,2023-08-24,97.166667,17.833333,36.400000,126.500000,65.833333,76.600000,88.000000
147978,2225152,18025236,2023-08-25,95.666667,18.666667,36.140000,109.714286,66.571429,76.428571,80.500000

In [16]:
labs_avg

,person_id,visit_occurrence_id,measurement_date,White blood cell count,Basophil count,Bicarbonate,Blood urea,Chloride salt,Creatinine,Eosinophil count,...,Alanine aminotransferase,GGT (gamma-glutamyl transferase) level,Albumin,Bilirubin,Total alkaline phosphatase level,Total protein measurement,Globulin,Calcium,Phosphate measurement,Magnesium measurement
0,2081899,12041,2013-09-16,3.90,0.04,24.0,5.1,104.000000,97.0,0.04,...,31.0,111.0,32.0,7.0,100.0,69.0,37.106667,2.273467,1.1009,0.769667
1,2081899,12041,2013-09-17,5.50,0.04,20.0,6.8,102.666667,130.0,0.00,...,31.0,118.0,28.0,15.0,96.0,65.0,37.060000,2.080000,0.7000,0.680000
2,2081899,12041,2013-09-18,4.60,0.05,17.0,9.3,107.833333,161.0,0.03,...,36.0,96.0,23.0,8.0,78.0,59.0,35.945000,1.970000,0.6600,0.810000
3,2081899,12041,2013-09-19,5.00,0.02,17.0,9.8,108.666667,127.0,0.04,...,33.0,86.0,24.0,6.0,68.0,62.0,37.515000,2.090000,0.8600,0.970000
4,2081899,12041,2013-09-20,4.90,0.03,19.0,9.6,103.000000,123.0,0.07,...,27.0,97.0,20.0,9.0,76.0,62.0,39.475000,2.160000,0.7700,0.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179434,2225152,18025236,2023-08-20,6.18,0.01,25.0,4.1,113.000000,43.0,0.28,...,18.0,15.0,20.0,7.0,100.0,46.0,26.000000,1.850000,0.8700,0.650000
179435,2225152,18025236,2023-08-21,4.90,0.00,23.0,3.4,115.000000,41.0,0.18,...,18.0,14.0,20.0,8.0,95.0,46.0,26.000000,1.830000,0.8000,0.610000
179436,2225152,18025236,2023-08-22,5.12,0.01,24.0,3.5,116.000000,47.0,0.11,...,16.0,14.0,22.0,7.0,104.0,47.0,25.000000,1.940000,0.8200,0.630000
179437,2225152,18025236,2023-08-24,6.78,0.02,22.0,5.7,114.000000,55.0,0.16,...,15.0,13.0,20.0,8.0,104.0,45.0,25.000000,1.980000,0.8000,0.650000
179438,2225152,18025236,2023-08-25,5.99,0.01,22.0,6.4,113.000000,53.0,0.09,...,12.0,14.0,21.0,8.0,97.0,45.0,24.000000,2.040000,0.7500,1.100000

## Create target variable (Incidence of sepsis)

In [17]:
sepsisDf = icds[(icds.AUSTRALIAN_MODIFICATION.str.startswith('A40')) | (icds.AUSTRALIAN_MODIFICATION.str.startswith('A41'))][['EPISODE_ID', 'PATIENT_ID']].drop_duplicates()
sepsisDf['sepsis'] = 1
sepsisDf

        EPISODE_ID  PATIENT_ID  sepsis
221       17030802     2188789       1
336       17003144     1466886       1
439       16982177     2097130       1
1124      16875811     2090730       1
1241      16859246     2193278       1
...            ...         ...     ...
454745       10444     2135518       1
454885        9543     2143511       1
455084        8251     2100912       1
456046        3055      542353       1
456088        2967     2144093       1

[3983 rows x 3 columns]

In [18]:
admissions[['PATIENT_ID', 'EPISODE_ID', 'start_date']].drop_duplicates()

        PATIENT_ID  EPISODE_ID  start_date
0          2141606        8800  2013-08-31
2          2141606        9467  2013-09-03
4          2141606        9871  2013-09-05
6          2141606       10349  2013-09-07
8          2141606       10798  2013-09-10
...            ...         ...         ...
216684      642636    18390389  2024-01-17
216685      642636    18406829  2024-02-27
216686      642636    18690618  2024-02-27
216687      642636    18696838  2024-02-28
216688      642636    18699844  2024-02-28

[123845 rows x 3 columns]

## Merge all the files

In [19]:
import pandas as pd


mergedDf = pd.concat([vitals_avg, vitals_min, vitals_max, vitals_first, vitals_last, labs_avg, labs_min, labs_max, labs_first, labs_last], ignore_index=True)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = mergedDf[['person_id', 'visit_occurrence_id', 'measurement_date']]
mergedDf = pd.merge(mergedDf, admissions[['PATIENT_ID', 'EPISODE_ID', 'start_date']].drop_duplicates(), how='inner', left_on=['person_id', 'visit_occurrence_id'], right_on=['PATIENT_ID', 'EPISODE_ID'])
mergedDf = mergedDf.drop(['PATIENT_ID', 'EPISODE_ID'], axis = 1)
mergedDf = pd.merge(mergedDf, sepsisDf, how='left', left_on=['person_id', 'visit_occurrence_id'], right_on=['PATIENT_ID', 'EPISODE_ID'])
mergedDf = mergedDf.drop(['PATIENT_ID', 'EPISODE_ID'], axis = 1)
mergedDf['sepsis'].fillna(0, inplace=True)
mergedDf['sepsis'] = mergedDf['sepsis'].astype(int)
mergedDf = pd.merge(mergedDf, vitals_avg.add_suffix('_avg').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'])
mergedDf = mergedDf.drop(['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, vitals_min.add_suffix('_min').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'])
mergedDf = mergedDf.drop(['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, vitals_max.add_suffix('_max').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'])
mergedDf = mergedDf.drop(['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, vitals_first.add_suffix('_first').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'])
mergedDf = mergedDf.drop(['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, vitals_last.add_suffix('_last').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'])
mergedDf = mergedDf.drop(['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, labs_avg.add_suffix('_avg').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'])
mergedDf = mergedDf.drop(['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, labs_min.add_suffix('_min').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'])
mergedDf = mergedDf.drop(['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_max').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'])
mergedDf = mergedDf.drop(['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_first').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'])
mergedDf = mergedDf.drop(['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_last').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'])
mergedDf = mergedDf.drop(['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'], axis = 1)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = mergedDf.dropna()
mergedDf

/tmp/ipykernel_12239/2386270462.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mergedDf['sepsis'].fillna(0, inplace=True)

,person_id,visit_occurrence_id,measurement_date,start_date,sepsis,vitals_Peripheral oxygen saturation_avg,vitals_Respiratory rate_avg,vitals_Temperature_avg,vitals_Systolic blood pressure_avg,vitals_Diastolic blood pressure_avg,...,labs_Alanine aminotransferase_last,labs_GGT (gamma-glutamyl transferase) level_last,labs_Albumin_last,labs_Bilirubin_last,labs_Total alkaline phosphatase level_last,labs_Total protein measurement_last,labs_Globulin_last,labs_Calcium_last,labs_Phosphate measurement_last,labs_Magnesium measurement_last
0,2096825,42323,2014-02-14,2014-02-12,0,97.943207,17.116405,36.522011,112.428448,65.072898,...,31.91,133.54,27.79,7.84,145.08,66.55,39.66,2.3018,1.2803,0.8157
1,2141606,56954,2014-05-14,2014-04-22,0,97.943207,17.116405,36.522011,112.428448,65.072898,...,5.00,20.00,21.00,9.00,62.00,60.00,36.94,2.1100,2.0200,0.9200
2,1951251,60383,2014-05-14,2014-05-08,1,97.943207,17.116405,36.522011,112.428448,65.072898,...,17.00,216.00,24.00,17.00,94.00,62.00,37.40,2.0900,0.8100,0.6900
5,2141606,82780,2014-08-21,2014-08-18,0,97.943207,17.116405,36.522011,112.428448,65.072898,...,29.00,45.00,32.00,7.00,110.00,79.00,47.00,2.4000,1.8300,0.9000
7,2141606,85662,2014-09-23,2014-08-30,1,97.943207,17.116405,36.522011,112.428448,65.072898,...,7.00,28.00,25.00,8.00,87.00,75.00,50.00,2.3100,1.4700,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147689,2225152,18025236,2023-08-20,2023-08-14,0,97.666667,16.833333,36.316667,128.285714,66.857143,...,18.00,15.00,20.00,7.00,100.00,46.00,26.00,1.8500,0.8700,0.6500
147690,2225152,18025236,2023-08-21,2023-08-14,0,97.750000,17.750000,36.216667,141.111111,76.111111,...,18.00,14.00,20.00,8.00,95.00,46.00,26.00,1.8300,0.8000,0.6100
147691,2225152,18025236,2023-08-22,2023-08-14,0,97.200000,17.200000,36.060000,130.400000,73.800000,...,16.00,14.00,22.00,7.00,104.00,47.00,25.00,1.9400,0.8200,0.6300
147693,2225152,18025236,2023-08-24,2023-08-14,0,97.166667,17.833333,36.400000,126.500000,65.833333,...,15.00,13.00,20.00,8.00,104.00,45.00,25.00,1.9800,0.8000,0.6500
147694,2225152,18025236,2023-08-25,2023-08-14,0,95.666667,18.666667,36.140000,109.714286,66.571429,...,12.00,14.00,21.00,8.00,97.00,45.00,24.00,2.0400,0.7500,1.1000

In [20]:
len(mergedDf.visit_occurrence_id.unique()), len(mergedDf.person_id.unique())

(14698, 3923)

In [21]:
mergedDf.sepsis.value_counts()

sepsis
0    85462
1    12972
Name: count, dtype: int64

In [22]:
mergedDf[['person_id', 'visit_occurrence_id', 'sepsis']].drop_duplicates().sepsis.value_counts()

sepsis
0    14109
1      589
Name: count, dtype: int64

In [23]:
mergedDf[['person_id', 'visit_occurrence_id', 'sepsis']].drop_duplicates().sepsis.value_counts()/mergedDf[['person_id', 'visit_occurrence_id', 'sepsis']].drop_duplicates().shape[0]*100

sepsis
0    95.992652
1     4.007348
Name: count, dtype: float64

## Save merged data to a file

In [24]:
datamatrixDirName = Path(os.environ['DATA_DIR'], 'sepsis_prediction', 'blood_pos_cohort_20250416', '04_data_matrix')

datamatrixDirName.mkdir(exist_ok=True)

mergedDf.to_csv(Path(datamatrixDirName, 'data_matrix_traditional_ml.csv'), index=False)